@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}
@layer base {
  html {
    font-family: 'roboto', system-ui, sans-serif;
  }
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Color of the thumb */
  border-radius: 50px; /* Makes it circular */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #7eadf8; /* Color on hover */
  cursor: pointer;
}
